body {
  /*background-color: #C0C0C0;*/ 
  
  /* First specify using "ugly" webkit syntax */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC),to(#444444)); 
  
  /* Then specify using W3C syntax */
  background-image: -moz-linear-gradient(270deg, #CCC 0%, #444 100%);
  background-image: -webkit-linear-gradient(270deg, #CCC 0%, #444 100%);
  background-image: -o-linear-gradient(270deg, #CCC 0%, #444 100%);
  background-image: linear-gradient(270deg, #CCC 0%, #444 100%);
  background-repeat: no-repeat;
}
section {
  float: left;
}
section p + a {
  display: block;
  text-decoration: none;
  border: 5px double;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  margin: 5px 5px 9px 5px;
  padding: 15px 0;
  position: relative;
  background-color: #484848;
  border-radius: 25px;
  box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
  -webkit-box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
  -moz-box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

section p + a:hover {
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
}
